.body-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: radial-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 41%));
	transition: all 0.5s;
}
	
.container {
	width: 55%;
	height: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: linear-gradient(hsl(0, 0%, 41%), #013A4E);
	box-shadow: 0 0 20px 2px #013A4E;
    border-radius: 15px;
    background-image: url(/birthday/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
	
.container-data {
	padding: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	color: #fff;
	font-family: Arial;
	font-size: 3vw;
}

button {
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    border: #fff;
    font-family: 'Epilogue', sans-serif;
    font-size: large;
    background-color: hsla(191, 54%, 27%, 0.722);
    color: #fff;
    transition: .4s;
}

button:hover {
    background-color:hsl(0, 0%, 41%);
}
	
@media only screen and (max-width: 763px) {
	.container-data {
		padding: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		color: #fff;
		font-family: Arial;
		font-size: 6vw;
	}

    button {
        padding: 20px;
        border-radius: 10px;
        width: 60%;
        border: #fff;
        font-family: 'Epilogue', sans-serif;
        font-size: large;
        background-color: hsla(191, 54%, 27%, 0.722);
        color: #fff;
        transition: .4s;
    }
    
    button:hover {
        background-color:hsl(0, 0%, 41%);
    }
        
}
	
@media only screen and (max-height: 423px) {
	.container-data {
		padding: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		color: #fff;
		font-family: Arial;
		font-size: 4vw;
	}
    button {
        padding: 20px;
        border-radius: 10px;
        width: 60%;
        border: #fff;
        font-family: 'Epilogue', sans-serif;
        font-size: large;
        background-color: hsla(191, 54%, 27%, 0.722);
        color: #fff;
        transition: .4s;
    }
    
    button:hover {
        background-color:hsl(0, 0%, 41%);
    }
}
